.spyproject/
__pycache__/
*.hdf5
*.fits
*.fits.gz
*.asc
lwb/raw
!lwb/raw/MD5SUM
scratch
lux/env
stacks/results
stacks/plots_absolute/*
stacks/plots_relative/*
!stacks/plots_absolute/gravitational_gt_des.pdf
!stacks/plots_absolute/gravitational_ds_des.pdf
!stacks/plots_relative/shear_bias_ds_des.pdf
!stacks/plots_relative/shear_bias_ds_hsc.pdf
!stacks/plots_relative/boost_gt_des.pdf
!stacks/plots_relative/boost_gt_hsc.pdf
!stacks/plots_relative/intrinsic_alignment_ds_*.pdf
!stacks/plots_relative/fiber_assignment_no_iip_ds_hsc.pdf
!stacks/plots_relative/fiber_assignment_ds_hsc.pdf
!stacks/plots_relative/lens_magnification_ds_*.pdf
!stacks/plots_relative/source_magnification_ds_hsc.pdf
draft/*
!draft/Makefile
misc/resolution/analytic_model/*
!misc/resolution/analytic_model/kmax2.conf
!misc/resolution/analytic_model/normal.conf
